.fruit {
  position: absolute;
  pointer-events: none; /* Ignore pointer events on the image itself */
}

.fruit img {
  pointer-events: auto; /* Enable pointer events on the non-transparent parts of the image */
}

.hover-text {
  visibility: hidden;
  color: #000000;
  position: fixed; /* Change to fixed to position relative to the viewport */
  top: 0; 
  left: 3%; 
  margin-top: -20px; 
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 200px;
  font-family: 'Imbue',serif;
  font-weight: 100;
  white-space: nowrap;
}


.imbue-<uniquifier> {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: <style>; normal, italic, oblique
}

.fruit:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
        #grapes {
        left: 18.2%;
        top: 48%;
        width: 270px; /* scaled down from 300px */
        height: 241px; /* scaled down from 268px */
    }
    #fig {
        left: 30%;
        top: 25%;
        width: 108px; /* scaled down from 120px */
        height: 122px; /* scaled down from 136px */
    }
    #pomegranate {
        left: 40%;
        top: 42.5%;
        width: 198px; /* scaled down from 220px */
        height: 228px; /* scaled down from 253px */
    }
    #blueberry {
        left: 44%;
        top: 80%;
        width: 189px; /* scaled down from 210px */
        height: 97px; /* scaled down from 108px */
    }
    #grapefruit {
        left: 40%;
        top: 5%;
        width: 234px; /* scaled down from 260px */
        height: 252px; /* scaled down from 280px */
    }
    #watermelon {
        left: 55%;
        top: 200px;
        width: 360px; /* scaled down from 400px */
        height: 356px; /* scaled down from 396px */
    }