* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  overflow: hidden;
  background: black;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  position: relative;
  left: 0;
  right: 0;
  filter: blur(6px) contrast(20);
}

#legend {
  position: absolute;
  color: white;
}
