@import url('https://fonts.googleapis.com/css?family=Roboto+Mono')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items:center;
    justify-content: center;
    background: black;
    min-height: 100vh;
}

.text  .normal-text{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 600;
}

.text  .animate-text{
    margin-left: 15px;
    height: 80px;
    line-height: 90px;
    overflow: hidden;
}

.text  .animate-text li{
    list-style: none;
    color: hwb(62 0% 0%);
    font-size: 60px;
    font-weight: 800;
    position: relative;
    top: 0;
    animation: animate 8s steps(4)infinite;
}

@keyframes animate{
    100%{
        top: -360px;
    }   
}

.animate-text li span{
    position:relative;
    margin: 5px 0;
    line-height: 90px;
}

.animate-text li span::after{
    content: '';
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 3px solid white;
    animation: type 2s steps(10)infinite;
}

@keyframes type{
    40%, 60%{
        left:calc(100% + 30px)
    }
    100%{
        left: 0;
    }   
}

